*{
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}
.App{
  text-align: center;
  margin-top: 5rem;

}
.button Link{
  text-decoration: none;
}
.App h1{
  margin: 3rem;
}
.Counter{
  text-align: center;
  margin: 3rem;
}
.buttoninc button{
  margin: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}
.Todo{
  text-align: center;
  margin: 3rem;
}
.input{
  margin: 1rem;
}
.input input{
  border: none;
  background-color: antiquewhite;
  width: 20rem;
  height: 1rem;
  padding: 1rem;
  border-radius: 20px 0 0 20px;
}
.input button{
  width: 5rem;
  padding: 1rem;
  border: none;
  border-radius: 0 20px 20px 0;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

.todolist{
  text-align: center;
  margin-top: 3rem;
}

.todos{
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.todos p{
  padding: 1rem;
  font-size: 1.4rem;
}

.button {
  margin: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}
.Card{
  margin: 3rem;
  text-align: center;
}
.card{
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 5rem;
}
.card div{
  padding: 2rem;
  border: 2px solid #ccc;
  margin: 1rem;
  border-radius: 10px;
}
.card div h5{
  margin-top: 2rem;
}
.cardare{
  margin-top: 2rem;
}
.cardlist{
  margin-top: 2rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.cardlist h3{
  margin: 1rem;

}
.cardlist h5{
  margin: 1rem;
}


